install/config.h
install/config.h.withlto
install/homebrew.opt
install/default.profdata
install/pgo_build*
install/pgo_profiles/
src/dock/gzstream/libgzstream.a
src/dock/nab/lex.mm_options.c
src/dock/nab/nab.a
bin

*.o
*.dif
*.tmp
src/dock/dock6.clang
src/dock/dock6.clang.cpu
src/dock/dock6.clang.gpu

install/test/solvgrid_generation/OUTSEV
install/test/solvgrid_generation/dielec_sev.box
install/test/solvgrid_generation/solv_sev.box
install/test/solvgrid_generation/solv_sev.plt
install/test/solvgrid_generation/solvmapsev



src/tleap/helptext.c
src/tleap/parser.c
src/tleap/utilMakeHelp
.pi/
projects-memory/
CLAUDE.md
*.md
*.DS_Store
src/dock/dock6.gpu
package.json
package-lock.json
log.md
project.log
benchmarks/
src/dock/dock6.hip
