install/config.h
src/dock/gzstream/libgzstream.a
src/dock/nab/lex.mm_options.c
src/dock/nab/nab.a
bin

*.o
*.dif

install/test/solvgrid_generation/OUTSEV
install/test/solvgrid_generation/dielec_sev.box
install/test/solvgrid_generation/solv_sev.box
install/test/solvgrid_generation/solv_sev.plt
install/test/solvgrid_generation/solvmapsev



src/tleap/helptext.c
src/tleap/parser.c
src/tleap/utilMakeHelp
*.DS_Store
